ASPNETCORE_ENVIRONMENT=Staging
SERVICE_TOKEN_ISSUER=company-gateway-service-auth-uat
SERVICE_TOKEN_AUDIENCE=company-gateway-internal-apis-uat
SERVICE_TOKEN_ENVIRONMENT=uat
SERVICE_TOKEN_REQUIRED_SCOPE=company-gateway.mobile
SERVICE_TOKEN_PUBLIC_KEY=__MULTILINE_UAT_PUBLIC_KEY_FROM_SECRET_STORE__
SERVICE_AUTH_CLIENT_ID=company-gateway-mobile-bff-uat
SERVICE_AUTH_ALLOWED_SCOPES=company-gateway.mobile
